html, body{ 
    margin: 0; 
    padding: 0;
    color: #ddf;
    background-color: #112;
    text-align: center;
    padding-top: 20vh;
  }
  
  

  @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
  
  
  
  h1 {
    font-size:3em; 
    font-weight: 300;
    line-height:1em;
    text-align: center;
    color: #4DC3FA;
  }
  
  h2 {
    font-size:1em; 
    font-weight: 300;
    text-align: center;
    display: block;
    line-height:1em;
    padding-bottom: 2em;
    color: #FB667A;
  }
  
  h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
  }
  
  .blue { color: #185875; }
  .yellow { color: #FFF842; }
  
  .container th h1 {
        font-weight: bold;
        font-size: 1em;
    text-align: left;
    color: #185875;
  }
  
  .container td {
        font-weight: normal;
        font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
         -moz-box-shadow: 0 2px 2px -2px #0E1119;
              box-shadow: 0 2px 2px -2px #0E1119;
  }
  
  .container {
        text-align: left;
        overflow: hidden;
        width: 80%;
        margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
  }
  
  .container td, .container th {
        padding-bottom: 2%;
        padding-top: 2%;
    padding-left:2%;  
  }
  
  /* Background-color of the odd rows */
  .container tr:nth-child(odd) {
        background-color: #323C50;
  }
  
  /* Background-color of the even rows */
  .container tr:nth-child(even) {
        background-color: #2C3446;
  }
  
  .container th {
        background-color: #1F2739;
  }
  
  .container td:first-child { color: #FB667A; }
  
  .container tr:hover {
     background-color: #464A52;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
         -moz-box-shadow: 0 6px 6px -6px #0E1119;
              box-shadow: 0 6px 6px -6px #0E1119;
  }
  
  .container td:hover {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;
    
    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    
    transition-delay: 0s;
        transition-duration: 0.4s;
        transition-property: all;
    transition-timing-function: line;
  }
  
  @media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) { display: none; }
  }
  
  
  .button,
  .button::before,
  .button::after,
  .button span,
  .button span::before,
  .button span::after
  {
    transition: all ease .5s;
  }
  
  .button{
    position: relative;
    display: inline-block;
    padding: 0.3em;
    margin: 1em;
    border: solid 1px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .button:hover
  {
    box-shadow: 0 0 5em .5em rgba(50,50,150,0.5);
  }
  
  .button span
  {
    display: inline-block;
    width: 100%;
    padding: 0.6em 2em;
  }
  
  .button:hover span
  {
    background-color: #fff;
    color: #112;
  }
  
  .button::before,
  .button::after,
  .button span::before,
  .button span::after
  {
    content: '';
    position: absolute;
    border: 1px;
  }
  
  .button::before,
  .button span::before
  {
    border-style: solid none;  
  }
  
  .button::before,
  .button span::after{      
    left: 0;
    top: -0.4em;
    width: 100%; 
    height: calc(100% + 0.8em);
  }
  
  .button::after,
  .button span::after
  {
    border-style: none solid;   
  }
  
  .button::after,
  .button span::before
  {
    top: 0;
    left: -0.4em;
    height: 100%;
    width: calc(100% + 0.8em); 
  }
  
  .button:hover::after,
  .button:hover span::after
  {
    transform: scaleY(0);
  }
  
  .button:hover::before,
  .button:hover span::before
  {
    transform: scaleX(0);
  }
  
  .button:hover span::after,
  .button:hover span::before
  {
    opacity: 0;
  }
  .modal-content
  {
    background-color: #112;
  }